<!-- start search box -->
<div class="header_search pull-right">
    <form class="search clearfix animated searchHelperFade" method="get" id="searchform">
      <input class="col-md-12 search_text" id="appendedInputButton" placeholder="Hit enter to search" type="text" name="s">
      <input type="hidden" name="post_type" value="post" />
      <i class="fa fa-search">
        <input type="button" class="search_submit" id="searchsubmit" value="" />
      </i>
    </form>
  </div>
  <!-- end search box -->