<!-- start search box -->
<div class="header_search pull-right autocomplete expanded_search">
  <form class="search clearfix animated searchHelperFade" method="get" id="searchform">
    <input #query (focus)="isOnFocus = true" (blur)="isOnFocus = false" (keyup)="getTitles(query.value)" class="col-md-12 search_text" id="appendedInputButton" placeholder="Hit enter to search" type="text" name="s">
    <div id="myInputautocomplete-list" class="autocomplete-items">
      <ng-container *ngFor="let a of autocompleteList">
          <div *ngIf="isOnFocus"><strong>{{ a.substring(0, query.value.length) }}</strong>{{ a.substring(query.value.length) }}<input value="Taiwan" type="hidden"></div>
      </ng-container>
      <!-- <div><strong>T</strong>aiwan<input value="Taiwan" type="hidden"></div>
      <div><strong>T</strong>ajikistan<input value="Tajikistan" type="hidden"></div>
      <div><strong>T</strong>anzania<input value="Tanzania" type="hidden"></div>
      <div><strong>T</strong>hailand<input value="Thailand" type="hidden"></div>
      <div><strong>T</strong>imor L'Este<input value="Timor" type="hidden"></div> -->
    </div>
    <input type="hidden" name="post_type" value="post" />
    <i class="fa fa-search">
      <input type="button" class="search_submit" id="searchsubmit" value="" />
    </i>
  </form>
</div>
  <!-- end search box -->