<!-- header -->

<header class="site_header">
  <!-- top menu area -->
  <div class="top_menu_wrapper">
    <div class="container">
      <div class="mobile_menu_button">
        <span class="mobile_menu_text">Menu</span>
        <span>-</span>
        <span>-</span>
        <span>-</span>
      </div>
      <div class="top_header_items_holder">

        <div class="main_menu pull-left">
          <div class="main_nav">
            <ul id="menu-main" class="nav navbar-nav">
              <li id="menu-item-46" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-46 default_menu">
                <a routerLink="">Home</a>
              </li>
              <li id="menu-item-135" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135 default_menu">
                <a routerLink="/admin/article/new">Insert blog</a>
              </li>
              <li id="menu-item-135" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135 default_menu">
                <a routerLink="/admin/articles">Admin artcile</a>
              </li>
              <li id="menu-item-135" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-135 default_menu">
                <a routerLink="/sign-up">Sign up</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="header_icons pull-right text_right">
          <!-- start header social icons -->
          <div class="social_icons_list header_social_icons pull-left">
            <a rel="nofollow" target="_blank" href="#" title="Facebook" class="social_icon social_facebook social_icon_facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <a rel="nofollow" target="_blank" href="#" title="Twitter" class="social_icon social_twitter social_icon_twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a rel="nofollow" target="_blank" href="#" title="Google Plus" class="social_icon social_google-plus social_icon_google-plus">
              <i class="fa fa-google-plus"></i>
            </a>
            <a rel="nofollow" target="_blank" href="#" title="Behance" class="social_icon social_behance social_icon_behance">
              <i class="fa fa-behance"></i>
            </a>
            <a rel="nofollow" target="_blank" href="#" title="Dribbble" class="social_icon social_dribbble social_icon_dribbble">
              <i class="fa fa-dribbble"></i>
            </a>
            <a rel="nofollow" target="_blank" href="#" title="Instagram" class="social_icon social_instagram social_icon_instagram">
              <i class="fa fa-instagram"></i>
            </a>
            <a rel="nofollow" target="_blank" href="#" title="RSS" class="social_icon social_rss social_icon_rss">
              <i class="fa fa-rss"></i>
            </a>
          </div>
          <!-- end header social icons -->
          <!-- start search box -->
          <div class="header_search pull-right">
            <form class="search clearfix animated searchHelperFade" method="get" id="searchform" action="https://ahmad.works/writing/">
              <input class="col-md-12 search_text" id="appendedInputButton" placeholder="Hit enter to search" type="text" name="s">
              <input type="hidden" name="post_type" value="post" />
              <i class="fa fa-search">
                <input type="submit" class="search_submit" id="searchsubmit" value="" />
              </i>
            </form>
          </div>
          <!-- end search box -->
        </div>
      </div>
      <!-- end .top_header_items_holder -->

    </div>
  </div>
  <!-- top menu area -->
  <!-- header logo wrapper -->
  <div class="header_logo_wrapper  ">
    <div class="container">
      <div class="logo_wrapper">
        <style>
          .site_logo_image {
            width: 124px;
          }

          .site_logo_image {
            height: 32px;
          }
        </style>
        <a class="asalah_logo retina_logo" title="Writing" href="https://ahmad.works/writing/" rel="home">
          <img width="124" height="32" src="https://awcdn1.ahmad.works/writing/wp-content/uploads/2018/02/logo_retina_248.png" class="site_logo img-responsive site_logo_image pull-left clearfix"
            alt="Writing" />
        </a>

        <a class="asalah_logo default_logo  has_retina_logo" title="Writing" href="https://ahmad.works/writing/" rel="home">
          <img width="124" height="32" src="https://awcdn1.ahmad.works/writing/wp-content/uploads/2018/02/logo_124.png" class="site_logo img-responsive site_logo_image pull-left clearfix"
            alt="Writing" />
        </a>
        <h1 class="screen-reader-text site_logo site-title pull-left clearfix">Writing</h1>
      </div>
      <div class="header_info_wrapper">

        <!-- <a id="user_info_icon" class="user_info_icon user_info_button skin_color_hover" href="#">
          <i class="fa fa-align-center"></i>
        </a> -->

        <a id="user_info_icon" class="user_info_avatar user_info_avatar_icon user_info_button skin_color_hover" href="#">
          <i class="fa fa-align-center"></i>
        </a>

      </div>
    </div>

  </div>
  <!-- header logo wrapper -->
</header>
<!-- header -->