<div id="page" class="hfeed site">
  <!-- start site main container -->
  <div class="site_main_container">
    <section id="content" class="site_content">
      <div class="container">
        <div class="row">
          <h4 class="page-title screen-reader-text">Blog Posts</h4>
          <main class="main_content col-md-12">
            <div class="blog_posts_wrapper blog_posts_list clearfix  banners_blog_style narrow_content_width">
              <router-outlet></router-outlet>
            </div>
          </main>
          <!-- .main_content -->
        </div>
        <!-- .row -->
      </div>
      <!-- .container -->
    </section>
    <!-- .site_content -->
  </div>
</div>